In [1]:
import pandas as pd
import numpy as np

In [2]:
! head illiteracy.txt

In [6]:
ill = pd.read_csv('illiteracy.txt', sep='\t')

In [7]:
ill.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [8]:
ill.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [11]:
ill.corr('spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000